@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #dbdbdb;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #b3b3b3;
    border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
body{
    scrollbar-gutter: stable both-edges;
}

*{
    margin:0;
    padding:0;
}
.main-container{
    position: relative;
}
h1{
    padding-top:15px;
    padding-bottom: 20px;
    width: 99vw;
    text-align: center;
}
.grid-center{
    display: flex;
    justify-content: center;
}
.grid-container{
    background-color: rgb(218, 218, 218);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 900px;
}
.upload-btn{
    position:fixed;
    left:90%;
    top:85%;
    background-color: rgb(31, 29, 119);
    color: white;
}
button:hover{
    cursor: pointer;
}
.img-instance, .img-instance img{
    width:300px;
    height:300px;
}
.img-instance img{
    object-fit: cover;
}

.post-view{
    z-index: 999;
    position: absolute;
    top:0;
    left:0;
    
}
.post-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.img-view, .img-view img{
    width: 500px;
    height: 500px;
}
.img-view img{
    object-fit: cover;
}

.post-box{
    width: 80vw;
    display: flex;
    flex-direction: row;
    background-color: rgb(235, 235, 235);
    border: 1px solid rgb(219, 219, 219);
}

.desc-view, .desc-edit{
    display:flex;
    flex-direction: column;
    padding:20px;
    width: 100%;
}
.desc-view > *, .desc-edit > *{
    font-family: 'PT Sans', sans-serif !important;
}

.post-back-btn{
    font-size: 20px;
    position:absolute;
    transform: translateX(-150%);
    text-decoration: none;
    color:rgb(20, 20, 20);
}
.post-back-btn:hover{
    cursor: pointer;
}
.tags-select input{
    vertical-align: middle;
    margin-left: 5px;
}
.tags-select{
    margin-bottom: 20px;
}
textarea{
    height:80%;
    width: 100%;
    resize:none;
}

.post-date{
    padding-bottom: 10px;

}

.post-desc{
    height:80%;
    font-size: 20px;
    border-bottom: 1px solid rgb(197, 197, 197);
}

button{
    text-align: center;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 5px;
    background: rgb(211, 211, 211);
    font-size: 16px;
    padding: 10px;
}
.save-edit, .cancel-edit{
    margin-top: 15px;
}
.save-edit{
    background-color: rgb(32, 173, 32);
    color:white;
}
.edit-confirm{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.post-tags{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}
.t-diary,.t-fun,.t-journal{
    font-size: 14px;
    margin-right: 10px;
    color:rgb(255, 255, 255);
    padding:3px 6px;
    border-radius: 5px;
}
.pv{
    display: none !important;
}

.t-diary{
    background-color: brown;
}
.t-journal{
    background-color: rgb(31, 122, 66);
}
.t-fun{
    background-color: rgb(61, 42, 165);
}
