@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #dbdbdb;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #b3b3b3;
    border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
body{
    scrollbar-gutter: stable both-edges;
}

*{
    margin:0;
    padding:0;
}
.main-container{
    position: relative;
}
h1{
    padding:15px;
    text-align: left;
    padding-left: 30px;
}
.grid-center{
    display: flex;
    justify-content: center;
}
.grid-container{
    background-color: rgb(218, 218, 218);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 900px;
}
.img-instance, .img-instance img{
    width:300px;
    height:300px;
}
.img-instance img{
    object-fit: cover;
}

.post-view{
    z-index: 999;
    position: absolute;
    top:0;
    left:0;
    
}
.post-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.img-view, .img-view img{
    width: 500px;
    height: 500px;
}
.img-view img{
    object-fit: cover;
}

.post-box{
    width: 80vw;
    display: flex;
    flex-direction: row;
    background-color: rgb(235, 235, 235);
    border: 1px solid rgb(219, 219, 219);
}

.desc-view, .desc-edit{
    font-family: 'PT Sans', sans-serif;
    padding:20px;
    
    width: 100%;
}

.post-back-btn{
    font-size: 20px;
    position:absolute;
    transform: translateX(-150%);
    text-decoration: none;
    color:rgb(20, 20, 20);
}
.post-back-btn:hover{
    cursor: pointer;
}
.tag-select > input:checked{
    font-size: large;
}

.post-date{
    padding-bottom: 10px;

}

.post-desc{
    height:80%;
    font-size: 20px;
    border-bottom: 1px solid rgb(197, 197, 197);
}

.post-edit-btn{
    margin-top: 15px;
    text-align: center;
}

.post-tags{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}
.t-diary,.t-fun,.t-journal{
    font-size: 12px;
    margin-right: 10px;
    color:rgb(255, 255, 255);
    padding:3px 6px;
    border-radius: 5px;
}
.pv{
    display: none !important;
}

.t-diary{
    background-color: brown;
}
.t-journal{
    background-color: rgb(31, 122, 66);
}
.t-fun{
    background-color: rgb(61, 42, 165);
}
